{% extends 'base.html' %}
{% load tags %}
{% block title %}Home{% endblock %}

{% block content %}
    <h1>Задача</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Решить!">
    </form>
    <div class="card-body mt-5">
    <table class="table table-bordered">
        <tbody style="border-top: 3.0px;">
        {% for row in table %}
            <tr>
                    <td>
                        {{ row|get:0 }}
                    </td>
                    <td>
                        {{ row|get:1 }}
                    </td>
                    <td>
                        {{ row|get:2 }}
                    </td>
                <td>
                    {{ result|get:forloop.counter0 }}
                </td>
            </tr>
        {% endfor %}
        <tbody>
        </div>
{% endblock %}